[defaults]
# Single NIC - most common
inventory = inventory.yml

# Multiple NIC on host - possibly for OCP-Virt
# Comment Single NIC above and uncomment Mulit NIC below
#inventory = inventory-multinic.yml

[privilege_escalation]
become = false
become_user = root
become_method = sudo
become_ask_pass = false
